body{
    margin: 0;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/mountain background.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Gill Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
    background-color:  #34276f;
    height: 422px;
    width: 50vw;
    max-width: 370px;
    min-width: 267px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-color: #cfad03;
    border-width: 2.5px;
    border-radius: 12px;
    box-shadow: -6px 8px 10px rgba(0, 0, 0, 0.2);
}
h1{
    font-size: 2.5em;
    margin-top: 44px;
    margin-bottom: 11px;
    color: #cfad03;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: black;
}
label{
    color: white;
    font-size: 12px;
}
input{
    height: 35px;
    width: 222px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}
#submit{
    height: 37px;
    width: 108px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14.5px;
    background-color: black;
    color: #cfad03;
    border-width: 1.99px;
    border-color: #cfad03;
    margin-top: -8px;
    margin-bottom: 12px;
    box-shadow: none;
    transition: all 0.15s;
}
#submit:hover{
    background-color: #cfad03;
    color: black;
}
